body {
    font-family: 'Ubuntu', sans-serif;
}
.tabuleiro {
    margin-bottom: 100px;
}
#tabuleiro {
    margin:auto;
}
#tabuleiro td {
    border: 5px solid black;
    text-align: center;
    font-size: 7em;
    width: 200px;
    height: 200px;
}
