{% extends basic_app/base.html %}

{% block body_block %}
<div class="jumbotron">
    <h1>Register page</h1>
    {% if registred %}
        <h1>Thank You For Your Soul, MUAHAHAHA!</h1>
    {% else %}
        <h1>Register Now!</h1>
        <h3>Fill in the form:</h3>
        <form class="" action="index.html" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user.form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="" value="Register">

        </form>
</div>

{% endblock %}
